.primary {
    -fx-background-color: #F4645F;
}

.primary_text {
    -fx-text-fill: #212121;
}

.secondary_text {
    -fx-text-fill: #757575;
}

.window_background {
    -fx-background-color: #F7F7F7;
}

.divider {
    -fx-background-color: #E6E6E6;
}

.window_background_gray {
    -fx-background-color: #F7F7F7;
}

.text_color_white {
    -fx-text-fill: #FFFFFF;
}

.text_color_primary {
    -fx-text-fill: #F4645F;
}

.background_white {
    -fx-background-color: #FFFFFF;
}

